<div class="main-content">
  <div class="container-fluid">
    <div class="header text-center">
      <h3 class="title">Prescriptions</h3>
      <p class="category">
        Prescriptions uploaded by the patient will appear here
      </p>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="card">
          <div class="card-content text-center">
            <img src="../../../assets/img/prescriptions/prescription1.jpg">
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="card">
          <div class="card-content text-center">
            <img src="../../../assets/img/prescriptions/prescription2.jpg">
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="card">
          <div class="card-content text-center">
            <img src="../../../assets/img/prescriptions/prescription3.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
