<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons"><img src="../../assets/img/icons/011-favorite.svg"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Heart Rate</p>
                        <h3 class="card-title">{{heartRate}} <span class="unit">BPM</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">date_range</i> Last updated {{heartRateDate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons"><img src="../../assets/img/icons/009-thermometer.svg"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Body Temperature</p>
                        <h3 class="card-title">{{bodyTemperature}} <span class="unit">&#8451;</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">date_range</i> Last updated {{bodyTemperatureDate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons"><img src="../../assets/img/icons/010-tool.svg"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Blood Pressure</p>
                        <h3 class="card-title">{{systolic}}/{{diastolic}} <span class="unit">mmHg</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">date_range</i> Last updated {{pressureDate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons"><img src="../../assets/img/icons/008-calories.svg"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Calories Burnt</p>
                        <h3 class="card-title">{{caloriesCount}} <span class="unit">calories</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">date_range</i> Last updated {{caloriesDate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="grey">
                        <i class="material-icons"><img src="../../assets/img/icons/006-left-footprint.svg"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Steps Taken</p>
                        <h3 class="card-title">{{stepsCount}} <span class="unit">steps</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">date_range</i> Last updated {{stepsDate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="purple">
                        <i class="material-icons"><img src="../../assets/img/icons/005-distance-to-travel-between-two-points.svg"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Distance Travelled</p>
                        <h3 class="card-title">{{distance}} <span class="unit">km</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">date_range</i> Last updated {{distanceDate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons"><img src="../../assets/img/icons/004-sugar-blood-level.svg"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Blood Sugar</p>
                        <h3 class="card-title">{{bloodSugar}} <span class="unit">mg/dl</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last updated {{bloodSugarDate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons"><img src="../../assets/img/icons/003-tint-drop.svg"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Red Blood Cells</p>
                        <h3 class="card-title">{{rbcCount}} <span class="unit">mcL</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">date_range</i> Last updated {{bloodReportDate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons"><img src="../../assets/img/icons/002-urine.svg"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Urinalysis - Protein</p>
                        <h3 class="card-title">{{protein}} <span class="unit">mg/d</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">date_range</i> Last updated {{urineReportDate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
