[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-line-chart:before { content: "\f100"; }
.flaticon-urine:before { content: "\f101"; }
.flaticon-tint-drop:before { content: "\f102"; }
.flaticon-sugar-blood-level:before { content: "\f103"; }
.flaticon-distance-to-travel-between-two-points:before { content: "\f104"; }
.flaticon-left-footprint:before { content: "\f105"; }
.flaticon-butter-and-knife:before { content: "\f106"; }
.flaticon-calories:before { content: "\f107"; }
.flaticon-thermometer:before { content: "\f108"; }
.flaticon-tool:before { content: "\f109"; }
.flaticon-favorite:before { content: "\f10a"; }